doctypehtml
html(lang="en")
    head 
        meta(name="author" content="Beshoy Samy Englizy")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Halloween
        link(rel="stylesheet" href="style/style.css")
        link(rel="icon" href="imgs/logo.icon")
    body 
        //- page
        section.page
            header 
                div
                    span Logo
                div
                    span Home
                    span About
                    span Blog
                    span Contact
                div
                    span &#9776
            section.landing
                div Halloween
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    br 
                    | Laudantium, quaerat praesentium. Obcaecati 
                    br 
                    | voluptatibus eligendi ut
                div More Here
        //- page
